body,
html {
    width: 100%;
    height: 100%;
}

body,
html {
    width: 100%;
    height: 100%;

}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
}

h1 {
    text-shadow: 11px 10px 8px #000;
    font-size: 5em;
    color: rgba(255, 255, 255, 0.892);
}

@media(max-width:767px) {
    h1 {
        font-size: 3em;
    }
}

.navbar {
    background-color: #676c6f;
}

.nav-link {
    color: white;
}

section h3.section-subheading {
    margin-bottom: 2rem;
}

@media(min-width:768px) {
    section {
        padding: 150px 0;
    }
}



/* social buttons */
.btn {
    display: inline-block;
    color: #000;
    margin: .5rem;
    border: 2px outset rgba(0, 0, 0, 0.9);
    background: #C0C0C0;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 20);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    letter-spacing: 2px;
    transition: 0.2s;
}

.btn:hover {
    color: #fff;
    border: 2px outset rgba(0, 0, 0, 0.9);
    background: rgba(0, 0, 0, 0.569);
    transform: scale(1.1);
    transition: 0.2s;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 20);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    letter-spacing: 2px;
}


#protfolio .portfolio-item img {
    margin: auto;
    width: 100%;
    aspect-ratio: 5/4;
    object-fit: contain;
}


#portfolio .portfolio-item .portfolio-caption {
    padding: 25px;
    text-align: center;
}


#portfolio .portfolio-item .portfolio-caption p {
    font-style: italic;
}

.site-footer {
    background-color: #676c6f;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #080707;
}

.site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5
}

.site-footer hr.small {
    margin: 20px 0
}

.site-footer h6 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px
}

.footer-links {
    padding-left: 0;
    list-style: none
}

.footer-links li {
    display: block
}

.footer-links a,
.copyright-text a {
    color: #080707;
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover,
.copyright-text a:active,
.copyright-text a:focus,
.copyright-text a:hover {
    font-weight: bolder;
    text-decoration: none;
    color: #080707;
}

.site-footer .social-icons {
    text-align: left;
}

.site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #33353d
}

.copyright {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    flex-wrap: wrap;
}

.copyright-text {
    margin: 0;
    text-align: right;
    margin: auto;
    color: #080707;
}

@media (max-width:991px) {
    .site-footer [class^=col-] {
        margin-bottom: 30px
    }
}

@media (max-width:767px) {
    .site-footer {
        padding-bottom: 0
    }

    .site-footer .copyright-text,
    .site-footer .social-icons {
        text-align: center
    }
}

.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px
}

.social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px
}

.social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
    color: #fff;
    background-color: #29aafe
}

.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px
}

.social-icons a.facebook:hover {
    background-color: #3b5998
}

.social-icons a.twitter:hover {
    background-color: #6a7477
}

.social-icons a.linkedin:hover {
    background-color: #007bb6
}

.social-icons a.dribbble:hover {
    background-color: #ea4c89
}

@media (max-width:767px) {
    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600
    }
}